body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 50px;
}
.orange-highlight{
    color: orange;

}
.half-width{
    width: 38%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.top-banner{
    background-image: url("images/tryimg1\ \(5\).png");
    background-repeat: no-repeat;

}
section{
    height: 600px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, pink, hotpink);
    padding: 10px 20px;
    border-radius: 4px;
    color: white;
    font-weight: 700;
}

.dream-area{
    background-image: url('images/tryimg1\ \(6\).png');
    background-repeat: no-repeat;
    background-position: right;

}
.single-experience{
    box-shadow: 10px 10px 40px rgb(173, 170, 171);
    border-radius: 5px;
    height: 75%;
    background-color: whitesmoke;

}
.experience-area{
    background-image: url("images/tryimg1\ \(7\).png");
    background-repeat: no-repeat;
    background-position: left;
}

#full-stack{
    border-left: 10px solid;
    border-image: linear-gradient(#1ddf9e,rgb(33, 136, 196));
    border-image-slice: 1;
}

#mern-stack{
    border-left: 10px solid;
    border-image: linear-gradient(#b84f95,rgb(33, 136, 196));
    border-image-slice: 1;

}

footer p{
    text-align: center;

}